@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Noto Sans", sans-serif;
}

h1{
  font-family: "Noto Sans KR", sans-serif;
}

.navbar{
  background-color: #b3faff;
}