.navbar{
  background-color: #cdfeba;
}

body{
  min-height: 100vh;
}

.searched-movie-list {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

.searched-movie-list::-webkit-scrollbar { 
    display: none; 
}